body {
    background-color: #ffffff;
    margin-left: 200px;
    margin-right: 100px;
    color:#000000;
    border-radius: 100px;
    border-color: #000000;
    border-style:double;
    padding: 60px;
    font-size:18px;
}

h1{
    text-align: left;
    font-size: 80px;
}
/*home*/

#hirohome{
    
    position:absolute;
    left: 1400px;
    top: 400px;
    text-align: left;
    padding: 100px;
   
}
button{
    color: #0b5400;
    background-color: rgb(192, 255, 243);
     text-align: center;
}

.me{
    position: absolute;
    left:500px;
   font-size: large;
}
#h {
    text-align:right;
    align-items: right;
    position: absolute;
    left:1000px;
}
/*nav adjustments base color*/
nav{
    background-color: black;
    padding: 50px;
    font-size: 50px;

  text-align: center;
  color:white;
}

nav a {
transition: all 50ms;
}


/*nav interaction attempt*/
nav a:hover{
   
    color:white;
   padding: 20px;
   font-size: 100px;
   font-size-adjust: 20px;
  
   
   
}
.p.1{
font-size:70px;
}
a {
    text-decoration: none;
}
#gif{
   position: absolute;
   left: 700px;
   top:500px
   
}

#t{
    position: absolute;
    top: 400px;
    right: 400px;
}
/* Inspo edits vvv */
.inspo{
    background-color: black;
    color: white;
    padding: 50px;
    font-size
}



/*Hiro*/
div.scrolling-img {
   
   overflow: auto;
   padding: 10px;
   white-space: nowrap;
   image-orientation: from-image;
   border-image-width: 50%;
padding-left: 75px;
padding-right: 200px;
   padding-top: 90px;
   padding-bottom: 300px;
}
