body {
    background-color: #edd5d5;
    margin-left: 200px;
    margin-right: 100px;
    color:#0b5400;
    border-radius: 90px;
    border-color: #0b5400;
    border-style: groove;

}
/*home*/
.main {
    align-items: center;
    columns: 4;
    columns: auto;
    float: left;
    inset-inline: 2;
}
button{
    color: #0b5400;
    background-color: rgb(192, 255, 243);
}

/*nav adjustments base color*/
nav{
    background-color: black;
    padding: 50px;
    font-size: 50px;
    text-decoration: none;
}
/*nav interaction attempt*/
nav a:hover{
   color:rgb(255, 255, 255); 
   background-color: black;
   padding: 20px;
   font-size: 100px;
   font-size-adjust: 20px;
  
   
   
}



/* Inspo edits vvv */
#stromae{
background-color: rgb(67, 9, 74);

color: rgb(226, 185, 225);
}
#felicia{
background-color: #0b5400;
color: azure;
}
#ded {
    background-color: purple;
    color: #edd5d5;
}
.inspo{
    padding: 30px;
    
}
/*Hiro*/
div.scrolling-img {
   background-color: aquamarine;
   overflow: auto;
   padding: 10px;
   white-space: nowrap;
   image-orientation: from-image;
   border-image-width: 50%;
padding-left: 75px;
padding-right: 200px;
   padding-top: 90px;
   padding-bottom: 300px;
}
